@model CustomersProject.Models.ViewModel.ChangePasswordVM

@{
    ViewBag.Title = "Change Password";
}

<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Change Password</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Account</a></li>
                            <li class="active">ChangePassword</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">Change Password</div>
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="card-body card-block">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <label for="OldPassword" class="form-control-label">Old Password</label>
                                        @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <label for="NewPassword" class="form-control-label">New Password</label>
                                        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <label for="ConfirmPassword" class="form-control-label">Confirm Password</label>
                                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>

                                    <div>
                                        <button type="submit" class="btn btn-primary">
                                            Change Password
                                        </button>
                                    </div>

                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->


